<footer class="site-footer">

<div class="bottom-banner light-blue">
	<div class="inner">
    <div style="color: white;">
      © 2024 ICAN Group at the University of California, Riverside
    </div>
		<div class="nav">
			<ul class = "bottom-banner-menu">
				<li><a href = "mailto:wantong.li@ucr.edu" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
		    	<li><a href="https://www.ucr.edu/privacy.html" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
	    		<li><a href="https://www.ucr.edu/terms.html" target="_blank" rel="noopener noreferrer">Terms of Use</a></li>
	      		<li><a href="https://www.ucr.edu/alpha" target="_blank" rel="noopener noreferrer">A-Z Website List</a></li>
			</ul>
		</div>
	</div>
</div>

