/******************************************************************************
 * Content
 ******************************************************************************/

@mixin media-query($device) {
  @media screen and (max-width: $device) {
      @content;
  }
}

 body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}


.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 30px 0;
  background: #007cbe;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 30px / 2;
}

.bottom-banner, .bottom-banner div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bottom-banner {
  font-size: 14px;
  text-align: left;
  width: 100%;
  color: #ffffff;
  background: #007cbe;
}

.bottom-banner .inner {
  margin: 0 auto;
  width: 900px;
}

.bottom-banner div.inner div {
  float: left;
  padding: 0px 0 0px 30px;
  text-align: left;
  background: #007cbe;
}

.bottom-banner div.inner div.nav {
  float: right;
  padding-right: 13px ;
  text-align: right;
  background: #007cbe;
}

.bottom-banner ul, .bottom-banner li {
  display: inline;
  margin: 0;
  padding: 0;
}

.bottom-banner a {
  color: #ffffff;
  display: inline;
  text-decoration: none;
  padding: 0 4px;
}

.bottom-banner a:hover {
  text-decoration: none;
  color: #052049;
}

.bottom-banner.teal {
  background: #18a3ac;
}

.bottom-banner.light-blue {
  background: #007cbe
}

@media screen and (min-width:660px) and (max-width:1229px) {


  .bottom-banner .inner {
      width: 100%;
  }
  
}

@media screen and (max-width:659px) {


  .bottom-banner .inner {
      width: 100%;
  }




  .bottom-banner div.inner div {
      padding: 8px 0 0px 30px;
      width: 100%;
  }



  .bottom-banner ul, .bottom-banner li {
      display: block;
      text-align: left;
      margin: 5px 0 5px 0 ;
      padding: 0;
  }


}


.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}