---
layout: default
---
<div class="post">
  <header class="post-header">
    <p class="post-description" style="font-size: 1rem">{{ page.description }}</p>

    <!-- uncomment to have the two bars on top
    {% if page.title == "Publications" %}
      <div style="text-align: right;">
      <div style="float: left;">
      
      </div> 
      <abbr 
      class="badge rounded w-25" style="background-color: #8200bf; font-size:0.9rem;">{{ "Journal Publication" }}
      </abbr>
      <br> </br>
      <br> </br>
      <abbr 
      class="badge rounded w-25" style="background-color: #208833; font-size:0.9rem;">{{ "Conference Publication" }}
      </abbr>
      </div>
    {% endif %}
    -->

  <article>
    {{ content }}
  </article>



  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}


</div>
